<se-gameview></se-gameview>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="col-xs-3">
            <button type="button" class="btn btn-default" data-toggle="sidebar" data-target=".sidebar1">
                <ng-md-icon icon="menu"></ng-md-icon>
            </button>
        </div>
        <div class="col-xs-6 title">
            <span>Star Game Engine</span>
        </div>
        <div class="col-xs-3" style="text-align: right">
            <button type="button" class="btn btn-default"  data-toggle="sidebar" data-target=".sidebar2">
                <ng-md-icon icon="menu"></ng-md-icon>
            </button>
        </div>
    </div>
</nav>

<div class="container-fluid col-md-12">
    <se-panelcontrolgame></se-panelcontrolgame>
</div>

<div class="col-xs-7 col-sm-3 col-lg-2 sidebar1 sidebar sidebar-left sidebar-animate sidebar-md-show">
    <se-panelproject ng-if="!manage.isPlaying"></se-panelproject>
</div>
<div class="col-xs-7 col-sm-3 col-lg-2 sidebar2 sidebar sidebar-right sidebar-animate sidebar-md-show">
    <se-panelproperties ng-if="!manage.isPlaying"></se-panelproperties>
</div>
