<form>
    <div class="form-group">
        <label for="rname">Name</label>
        <input ng-model="name" id="rname" class="form-control"></input>
    </div>
    <div class="form-group">
        <label for="rwidth">Width</label>
        <input type="number" ng-model="width" id="rwidth" class="form-control"></input>
    </div>
    <div class="form-group">
        <label for="rheight">Height</label>
        <input type="number" ng-model="height" id="rheight" class="form-control"></input>
    </div>
    <button type="submit" ng-click="submit()" class="btn btn-primary">Create</button>
</form>
