<li id="obj-{{obj.id()}}" class="list-group-item" ng-class="{active: obj == manage.selected}" se-drag se-drop draggable="{{obj == manage.selected}}">
    <div class="name" ng-click="showObject(obj)">
        <div class="col-xs-2">
            <ng-md-icon icon="expand_less" ng-if="children.length && expanded" data-toggle="collapse" data-target="#sub-{{obj.id()}}"></ng-md-icon>
            <ng-md-icon icon="expand_more" ng-if="children.length && !expanded" data-toggle="collapse" data-target="#sub-{{obj.id()}}"></ng-md-icon>
            <ng-md-icon icon="web_asset" ng-if="!children.length"></ng-md-icon>
        </div>
        <div class="col-xs-7">
            {{obj.name}}
        </div>
        <div ng-show="obj == manage.selected" class="col-xs-2">
            <div class="btn-group dropdown-right">
                <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </span>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="copyObj()"><ng-md-icon icon="content_copy"></ng-md-icon> Duplicate</a></li>
                    <li ng-if="!manage.transferArea"><a href="" ng-click="cutObj()"><ng-md-icon icon="content_cut"></ng-md-icon> Cut</a></li>
                    <li ng-if="manage.transferArea && manage.transferArea != manage.selected"><a href="" ng-click="pasteObj()"><ng-md-icon icon="content_paste"></ng-md-icon> Paste</a></li>
                    <li><a href="" ng-click="deleteObj()"><ng-md-icon icon="delete"></ng-md-icon> Delete</a></li>
                </ul>
            </div>
        </div>
        &nbsp;
    </div>
    <ul class="list-group sublist collapse in" id="sub-{{obj.id()}}" ng-if="children.length">
        <se-panelproject-object ng-repeat="o in children" se-obj="o"></se-panelproject-object>
    </ul>
</li>

