<div class="panel panel-primary">
    <div class="panel-heading">
        Project
        <a href="" class="pull-right"  data-toggle="sidebar" data-target=".sidebar1">
            <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
        </a>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    New <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="newObject('rect')">Rect</a></li>
                    <li><a href="" ng-click="newObject('circle')">Circle</a></li>
                    <li><a href="" ng-click="newObject('draw')">Draw</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="panel-body">
        <div class="list-group">
            <a href="" class="list-group-item" ng-class="{active: obj == manage.selected}"  ng-repeat="obj in scene.getObjs()" ng-click="showObject(obj)">
                {{obj.name}}
                <div class="pull-right">
                    <!-- <ng-md-icon  icon="edit" ng-click="editObj()" ng-show="obj == manage.selected" data-toggle="tooltip" data-placement="left" title="Delete"></ng-md-icon> -->
                    <ng-md-icon  icon="delete" ng-click="deleteObj()" ng-show="obj == manage.selected" data-toggle="tooltip" data-placement="left" title="Delete"></ng-md-icon>
                </div>
            </a>
        </div>
    </div>
</div>
