<div class="panel panel-primary">
    <div class="panel-heading">Properties</div>
    <div class="panel-body">
      <div ng-if="manage.selected">
        <div class="form-group col-md-12">
            <label for="name" class="control-label">Name: </label>
            <input type="text" id="name" class="form-control" ng-model="manage.selected.name" />
        </div>
        <div class="form-group col-md-6">
            <label for="px" class="control-label">X: </label>
            <input type="number" id="px" class="form-control" ng-model="manage.selected.transform.position.x" />
        </div>
        <div class="form-group col-md-6">
            <label for="py" class="control-label">Y: </label>
            <input type="number" id="py" class="form-control" ng-model="manage.selected.transform.position.y" />
        </div>
        <div class="form-group col-md-12">
            <label for="py" class="control-label">Angle: </label>
            <input type="number" id="angle" class="form-control" ng-model="manage.selected.angle" />
        </div>
      </div>
    </div>
</div>
