<div class="panel panel-primary">
    <div class="panel-heading">
        Properties
        <a href="" class="pull-right"  data-toggle="sidebar" data-target=".sidebar2">
            <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
        </a>
    </div>
    <div class="panel-body">
        <div ng-if="manage.selected">
            <div class="form-group col-md-12">
                <label for="name" class="control-label">Name: </label>
                <input type="text" id="name" class="form-control" ng-model="manage.selected.name" />
            </div>
            <div class="form-group col-xs-6">
                <label for="px" class="control-label">X: </label>
                <input type="number" id="px" class="form-control" ng-model="manage.selected.transform.position.x" />
            </div>
            <div class="form-group col-xs-6">
                <label for="py" class="control-label">Y: </label>
                <input type="number" id="py" class="form-control" ng-model="manage.selected.transform.position.y" />
            </div>
            <div class="form-group col-xs-12">
                <label for="angle" class="control-label">Angle: </label>
                <input type="number" id="angle" class="form-control" ng-model="manage.selected.angle" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="manage.selected.isStatic" ng-model-options="{ getterSetter: true }" > Is Static
                </label>
            </div>

        </div>
    </div>
</div>
