<div class="panel panel-primary">
    <div class="panel-heading">
        Project
        <a href="" class="pull-right"  data-toggle="sidebar" data-target=".sidebar1">
            <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
        </a>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    New <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="newObject('rect')">Rect</a></li>
                    <li><a href="" ng-click="newObject('circle')">Circle</a></li>
                    <li><a href="" ng-click="newObject('draw')">Draw</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="panel-body">
        <ul class="list-group">
            <se-panelproject-object ng-repeat="obj in scene.getObjs()" se-obj="obj"></se-panelproject-object>
        </ul>
    </div>
</div>
